<main class="flex-grow-1 d-flex w-100 flex-wrap justify-content-evenly">
  <section
    class="w-50 mb-4 d-flex flex-column justify-content-start align-items-center"
    style="min-width: 380px;"
  >
    <h2 class="mt-5 mb-2 text-center">CREATE A MOVIE!</h2>
    <form
      style="max-width: 360px;"
      class="w-100 d-flex flex-column justify-content-center items-align-center"
    >
      <fieldset class="mb-3 text-center">
        <label for="name" class="form-label mb-0">Title</label>
        <input type="text" class="form-control" id="name" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="poster" class="form-label mb-0">Poster</label>
        <input type="text" class="form-control" id="poster" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="price" class="form-label mb-0">Price</label>
        <input type="number" class="form-control" id="price" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="capacity" class="form-label mb-0">Capacity</label>
        <input type="number" class="form-control" id="capacity" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="place" class="form-label mb-0">Place</label>
        <input type="text" class="form-control" id="place" />
      </fieldset>
      <fieldset class="mb-4 text-center w-100">
        <label for="date" class="form-label mb-0">Date</label>
        <input type="date" class="form-control" id="date" />
      </fieldset>
      <button
        id="newEvent"
        type="button"
        class="w-100 btn btn-danger"
      >CREATE!</button>
    </form>
  </section>
  <section class="w-50 mb-4" style="min-width: 380px;">
    <h2 class="mt-5 mb-2 text-center">MOVIES</h2>
    <article
      id="movies"
      class="d-flex flex-wrap justify-content-evenly"
    ></article>
  </section>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>