<main class="flex-grow-1 p-3 m-auto my-2">
  <h2 class="text-center">CREATE A NEW MOVIE!</h2>
  <form style="width: 320px;">
    <div class="mb-3 text-center">
      <label for="name" class="form-label mb-0">Title</label>
      <input type="email" class="form-control" id="name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 text-center">
      <label for="poster" class="form-label mb-0">Poster</label>
      <input type="text" class="form-control" id="poster">
    </div>
    <div class="mb-3 text-center">
      <label for="price" class="form-label mb-0">Price</label>
      <input type="number" class="form-control" id="price">
    </div>
      <div class="mb-3 text-center">
      <label for="capactiy" class="form-label mb-0">Capacity</label>
      <input type="number" class="form-control" id="capactiy">
    </div>
      <div class="mb-3 text-center">
      <label for="place" class="form-label mb-0">Place</label>
      <input type="text" class="form-control" id="place">
    </div>
      <div class="mb-4 text-center">
      <label for="date" class="form-label mb-0">Date</label>
      <input type="date" class="form-control" id="date">
    </div>
    <button type="button" class="w-100 btn btn-danger">CREATE!</button>
  </form>
</main>