<main class="flex-grow-1 p-3 m-auto my-2">
  <h2 class="text-center">PERSONAL PROFILE:</h2>
  <div class="card m-auto" style="width: 320px;">
    <img src="{{profile.photo}}" class="card-img-top" alt="...">
    <div class="card-body d-flex flex-column justify-content-center">
      <h5 class="card-title text-center">{{profile.name}}</h5>
      <p class="card-text text-center">{{profile.email}}</p>
      <a href="#" class="btn btn-danger">EDIT</a>
    </div>
  </div>
</main>