<main class="flex-grow-1 d-flex w-100 flex-wrap justify-content-evenly">
  <section
    class="w-50 mb-4 d-flex flex-column justify-content-start align-items-center"
    style="min-width: 380px;"
  >
    <h2 class="mt-5 mb-2 text-center">REGISTER!</h2>
    <form
      style="max-width: 360px;"
      class="w-100 d-flex flex-column justify-content-center items-align-center"
    >
      <fieldset class="mb-3 text-center">
        <label for="email" class="form-label mb-0">Email</label>
        <input type="text" class="form-control" id="email" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="password" class="form-label mb-0">Password</label>
        <input type="password" class="form-control" id="password" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="name" class="form-label mb-0">Name</label>
        <input type="text" class="form-control" id="name" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="lastName" class="form-label mb-0">Last Name</label>
        <input type="text" class="form-control" id="lastName" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="photo" class="form-label mb-0">URL photo</label>
        <input type="text" class="form-control" id="photo" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="age" class="form-label mb-0">Age</label>
        <input type="number" class="form-control" id="age" />
      </fieldset>
      <button
        id="newEvent"
        type="button"
        class="w-100 btn btn-danger mt-3"
      >Register!</button>
    </form>
  </section>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>